<section>
	<div id="sidebar_menu_geral">					
		<div class="colored-box">		
			<h4>GERAL</h4>											
		</div>
		<ul>			
			<% @pages_for_sidebar.each do |page| %>
				<li><%= link_to page.title.downcase, page.slug %></li>
			<% end %>			
		</ul>	
	</div>
</section>
<section>
	<div id="sidebar_menu_links">					
		<div class="colored-box">		
			<h4>LINKS</h4>											
		</div>
		<ul>		
			<li><a href="http://bibspi.planejamento.gov.br" target="_blank">biblioteca digital de des.</a></li>
			<li><a href="http://ppamaisbrasil.planejamento.gov.br/sitioPPA/" target="_blank">app mais brasil</a></li>
		</ul>
	</div>
</section>
<section>
	<div id="sidebar_menu_cursos">					
		<div class="colored-box">		
			<h4>CURSOS EAD</h4>											
		</div>
		<ul>		
			<% courses.each do |course| %>
				<li><%= link_to course.name.downcase, refinery.courses_course_path(course) %></li>
			<% end %>
		</ul>	
	</div>
</section>
<section>
	<div id="sidebar_menu_conteudo">					
		<div class="colored-box">		
			<h4>INSTRUMENTOS</h4>											
		</div>
		<ul>		
			<li><a href="http://wiki.<%= request.host_with_port %>" target="_blank">wiki</a></li>
			<li><a href="http://forum.<%= request.host_with_port %>" target="_blank">fórum</a></li>
		</ul>	
	</div>
</section>